/*NOTE: 通常時とheader時を定義*/
.basic {
    font-size: var(--heading2);
    font-weight: 700;
    letter-spacing: 0.15em;
}

.box {
    composes: basic; /*NOTE: basicを利用*/
    display: inline-block;
    padding: 1em 2em;
    color: var(--black);
    font-size: var(--small-heading2);
}