.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*NOTE: 横並び（基本形）*/
.sideBySide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 980px) {
    .sideBySide {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

/*NOTE: 横並び（中央ぞろえ）*/
.sideBySideCenter {
    composes: sideBySide;
    align-items: center;
    text-align: center;
}