.event {
    text-align: center;
    margin: 30px;
    max-width: 500px;
    position: sticky;
    top: 90%;
    margin-bottom: 30px;
}

.icon {
    font-size: 50px;
}

.icon:hover {
    color: var(--gray-50);
}

